.container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}



.menu-dau{
    padding: 0;
    margin-left: 40px;;
    font-size: 13px;
}


.menu-dau li {
    display: inline-block;
    margin-right: 15px;
    
}
.menu-dau li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    cursor: pointer;

}
.menu-dau li a:hover{
    background-color: rgb(21, 198, 21);
    
}
.arrow {
    margin-left: 5px; /* Khoảng cách giữa chữ và mũi tên */
}



.menu-hai{
    margin-left: 0;
    font-size: 15px;
    background-color: rgb(54, 52, 52);

}


.menu-hai li{
    display: inline-block;
    margin-right: auto;
}
.menu-hai li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}
.menu-hai li a:hover{
    background-color: black;
}


.menu-ba{
    padding: 0;
    background-color: whitesmoke;
    width: 500px;
    font-size: 17px;
    height: calc(230vh - 300px); /* Điều chỉnh 150px tùy vào khoảng cách từ trên xuống */
    overflow-y: auto;
    scrollbar-color: #888 #f0f0f0;
}
.menu-ba::-webkit-scrollbar{
    width: 20px;
}
.menu-ba::-webkit-scrollbar-track{
    background: #f0f0f0;

}
.menu-ba::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh trượt */
    border-radius: 10px; /* Bo góc cho thanh trượt */
}

.menu-ba::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu khi hover */
}
.menu-ba li{
    display: block;
    margin-top: auto;

}
.menu-ba li a{
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 35px;
    
}
.menu-ba li a:hover{
    background-color: grey;
    
}

.right.content{
    flex-grow: 1; /* Nội dung bên phải sẽ chiếm phần còn lại của chiều rộng */
    background-color: white; 
}
.content-wrapper {
    display: flex;
    flex-direction: row;
}
h1{
    padding-top: 80px;
    padding-left: 60px;
    font-size: 40px;

}
.button-container{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;


}
.my-button{
    
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none; 
    font-size: 16px;
    border: none;
    margin: 4px 2px;
    width: 120px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
    color: white; 

}
.my-button:hover{
    background-color:rgb(21, 198, 21) ;
}
.my-hcn{
    width: 900px;
    height: 230px;
    background-color: rgb(204, 233, 204);
    margin-top: 30px;
    margin-left: 35px;
    padding-left: 30px;
    padding-top: 25px;
}
.bang-example{
    width: 900px;
    height: 520px;
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 35px;
    padding-left: 32px;
    padding-top: 25px;

}
.bang-trang{
    width: 700px;
    height: 350px;
    background-color: white;
    margin-top: 30px;
    
    


}
